{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>登入</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}" />
</head>
<body>
    {% include 'BMS/navbar.html' %}
<div class="container">
    <section id="content">
        <form action="">
            <h1>图书管理系统</h1>
            <div>
                <input type="text" placeholder="Username" required="" id="username" />
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="submit" value="登录" />
                <a href="#">忘记密码?</a>
                <a href="#">注册</a>
            </div>
        </form><!-- form -->

    </section><!-- content -->
</div><!-- container -->

</body>
</html>