
{#<nav class="navbar navbar-inverse navbar-expand-lg" role="navigation">#}
{#    <a class="navbar-brand" href="#">图书管理系统</a>#}
{#    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>#}
{#    <div class="collapse navbar-collapse" id="navbar-collapse-01">#}
{#        <ul class="nav navbar-nav mr-auto">#}
{#            <li><a href="#"><strong>图书查询</strong></a>#}
{#            <li><a href="#"><strong>借书记录</strong></a>#}
{#            <li><a href="#"><strong>预约记录</strong></a>#}
{#            <li><a href="#"><strong>录入图书</strong></a>#}
{#            <li><a href="#"><strong>注册用户</strong></a>#}
{#        </ul>#}
{##}
{#        <p class="navbar-text navbar-right">你好！<a href="#" class="navbar-link">注销</a></p>#}
{#    </div>#}
{#</nav>#}

<style>
    .hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'mainPage' %}">图书管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'querybookinfo' %}">借阅 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'borrowrecord' %}">借书记录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">预约记录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'addBooks' %}">录入图书</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'buildbook' %}">建立书目</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reservation' %}">预约</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
            <span class="hello-msg">
                你好！{{ request.user }}
            </span>
            <span class="hello-msg">
                <a href="{% url 'logout' %}" class="navbar-link">注销</a>
            </span>
        {% endif %}
    </div>
</nav>
